{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="refresh" content="5;url={% url 'login' %}?reset=complete">
    <title>Password Reset Complete</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
</head>
<body>
    <div class="container mt-5">
        <h2>Your Password Has Been Reset</h2>
        <p>You will be redirected to the login page shortly. If not, <a href="{% url 'login' %}?reset=complete">click here</a>.</p>
    </div>
</body>
</html>